PORT=3000
NODE_ENV=production
APP_SECRET=cambia_esta_clave_secreta_maestra_por_una_muy_segura
JWT_SECRET=cambia_este_token_jwt_secreto
APP_URL=http://tu-dominio-o-ip:3000
DATA_DIR=./data
BACKUPS_DIR=./backups
TZ=America/El_Salvador
